<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactar</title>
</head>
<body>
    <h1>Lamanos</h1>

    <form action="/contacto/" method="POST">{% csrf_token %}
        <label for="asunto">Asunto:
            <input type="text" name="asunto" id="asunto">
        </label><br>
        <label for="email">Email:
            <input type="text" name="email" id="email">
        </label><br>
        <label for="mensaje">Mensaje:
            <textarea name="mensaje" id="mensaje" cols="30" rows="10"></textarea>
        </label><br>
    
        <input type="submit" value="Enviar">
    </form>

</body>
</html>