
<h3>{{encabezado}}</h3>
<br><hr>
<p> Cadena Original: {{encabezado|default:"Sección sin título"}} </p>
<br><hr>

<br><hr>
<p> Uso de JOin: {{encabezado|join:', '}} </p>
<br><hr>

<br><hr>
<p> Tamaño de cadena: {{encabezado|length}} </p>
<br><hr>

<br><hr>
<p> Mayusculas: {{encabezado|upper}} </p>
<br><hr>

<br><hr>
<p> Minusculas: {{encabezado|lower}} </p>
<br><hr>

<br><hr>
<p> Contador de palabras: {{encabezado|wordcount}} </p>
<br><hr>

<br><hr>
<p> Lista Original: {{encabezado}} </p>
<br><hr>

<br><hr>
<p> Uso de JOin: {{encabezado|join:', '}} </p>
<br><hr>

<br><hr>
<p> Primero de la LIsta: {{encabezado|first}} </p>
<br><hr>

<br><hr>
<p> Ultimo de la lista {{encabezado|last}} </p>
<br><hr>

<br><hr>
<p> random  {{encabezado|random}} </p>
<br><hr>

    
